<footer class="footer">
  <div class="footer-container">
    <div class="footer-col logo-sobre">
      <div class="logo-parametriz">
        <img src="/assets/logo-white.png">
        <div class="content-texto">
          <h1>PARAMETRIZ</h1>
          <h2>SOLUÇÕES TECNOLÓGICAS</h2>
        </div>
      </div>
      <div class="sobre">
        <p>
          A Parametriz é especialista em soluções tecnológicas para
          parametrização contábil, oferecendo automação inteligente
          e consultoria especializada para empresas de todos os portes.
        </p>
      </div>
    </div>

    <div class="footer-col" style="padding-top: 12px;">
      <h4 class="titulo-coluna">Nossos Serviços</h4>
      <ul class="lista-links">
        <li>
          <a href="#">
            <i class="fas fa-user-tie"></i>
            Consultoria
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-cogs"></i>
            Parametrização
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-robot"></i>
            Automação Inteligente
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-headset"></i>
            Suporte Técnico 24/7
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col" style="padding-top: 12px;">
      <h4 class="titulo-coluna">Links Úteis</h4>
      <ul class="lista-links">
        <li>
          <a href="#">
            <i class="fa-solid fa-users"></i>
            Sobre Nós
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-user-shield"></i>
            Política de Privacidade
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-file-contract"></i>
            Termos de Uso
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col" style="padding-top: 12px;">
      <h4 class="titulo-coluna">Fique por Dentro</h4>
      <ul class="lista-links">
        <li>
          <a href="#">
            <i class="fa-solid fa-bolt"></i>
            Novidades
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-calendar-days"></i>
            Eventos
          </a>
        </li>
        <li>
          <a href="#" style="color: transparent !important;">
            <i class="fa-solid fa-file-contract" style="color: transparent !important;"></i>
            Política de Privacidade
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="footer-conecte">
    <div class="linha" style="margin-top: 10px;"></div>
    <div class="conecte">
      <div class="conecte-text">
        <h1>Conecte-se Conosco</h1>
        <p>Siga nossas redes sociais e fique por dentro das novidades</p>
      </div>
      <div class="social-icons">
        <a href="#" class="link-rede-social instagram">
          <i class="fa-brands fa-instagram"></i>
          <span>Instagram</span>
        </a>
        <a href="#" class="link-rede-social facebook ">
          <i class="fa-brands fa-facebook"></i>
          <span>Facebook</span>
        </a>
        <a href="#" class="link-rede-social linkedin ">
          <i class="fa-brands fa-linkedin"></i>
          <span>Linkedin</span>
        </a>
        <a href="#" class="link-rede-social whatsapp ">
          <i class="fa-brands fa-whatsapp"></i>
          <span>Whatsapp</span>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="linha"></div>
    <div class="copyright">
      <div class="info-copyright">
        <p>© 2025 Parametriz Soluções Tecnológicas. Todos os direitos reservados.</p>
        <p class="cnpj">CNPJ: 07.088.790/0001-58</p>
      </div>
      <div class="links-legais">
        <a href="#">
          Política de Privacidade
        </a>
        <span class="separador">|</span>
        <a href="#">
          Termos de Uso
        </a>
        <span class="separador">|</span>
        <a href="#">
          Política de Cookies
        </a>
      </div>
    </div>
  </div>

  <div class="elementos-decorativos-rodape">
    <div class="forma-decorativa forma-1"></div>
    <div class="forma-decorativa forma-2"></div>
    <div class="forma-decorativa forma-3"></div>
  </div>
</footer>