<div class="cronograma">

    <div class="titulo-intro">
        <i class="fa-solid fa-calandar"></i>
        <span>Cronograma de Implantação (2026–2033)</span>
    </div>
    <div class="subtitulo-intro">
        A implementação do novo modelo de tributação sobre o consumo terá início em 2026, com um período de transição progressiva até 2033. Durante esse intervalo, o sistema atual coexistirá com o novo regime, até que tributos como ICMS e ISS sejam totalmente substituídos pelas novas contribuições.
    </div>

  <div class="timeline-item">
    <div class="timeline-content">
      <div style="margin: 15px 0px;">
        <span class="ano">2026</span>
      </div>
      <h4 class="intro">Ano-Teste</h4>
      <ul>
        <li>Início da transição com alíquotas simbólicas</li>
        <li>CBS: 0,9% | IBS: 0,1%</li>
        <li>Sem recolhimento efetivo (apenas simulação)</li>
      </ul>
      <div class="card-alert">
        <p><strong>Importante:</strong> Valores devem ser destacados nas notas fiscais, mas não serão pagos ao governo. Porém, se não cumprir as obrigações acessórias, passa a ser obrigatório o recolhimento.</p>
      </div>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-content">
      <div style="margin: 15px 0px;">
        <span class="ano">2027</span>
      </div>
      <h4 class="intro">Início da Cobrança</h4>
      <ul>
        <li>CBS entra em vigor e substitui PIS/COFINS</li>
        <li>IS (Imposto Seletivo) começa a ser cobrado</li>
        <li>IPI extinto, exceto para produtos da Zona Franca de Manaus</li>
        <li>IBS permanece com alíquota simbólica</li>
      </ul>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-content">
      <div style="margin: 15px 0px;">
        <span class="ano">2029 - 2032</span>
      </div>
      <h4 class="intro">Transição Gradual do IBS</h4>
      <p>IBS começa a substituir ICMS e ISS de forma escalonada:</p>
      <ul>
        <li>2029: 10% via IBS • 90% ainda pelo ICMS/ISS</li>
        <li>2030: 20% via IBS • 80% pelo ICMS/ISS</li>
        <li>2031: 30% via IBS • 70% pelo ICMS/ISS</li>
        <li>2032: 40% via IBS • 60% pelo ICMS/ISS</li>
      </ul>
      <p>Redução proporcional do ICMS e ISS</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-content">
      <div style="margin: 15px 0px;">
        <span class="ano">2033</span>
      </div>
      <h4 class="intro">Implantação Total</h4>
      <div class="card-info">
        <h5 class="titulo_card-info">Novo sistema plenamente implantado:</h5>
        <ul>
          <li>CBS e IBS operando integralmente</li>
          <li>ICMS e ISS extintos</li>
          <li>IPI mantido apenas para ZFM</li>
          <li>IS em vigor com regras próprias</li>
        </ul>
      </div>
    </div>
  </div>
</div>
