.calculo {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .titulo-intro {
        color: var(--royal-blue);
        font-weight: 700;
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 36px;
    }

    .intro {
        h2 {
            font-size: 24px;
            color: var(--royal-blue);
            font-weight: 700;
            margin: 0;
        }

        p {
            color: var(--gray-600);
            margin: 0;
        }
    }

    .card-info {
        border: 2px solid var(--royal-blue-light);
        border-radius: 10px;
        padding: 20px 40px;
        background: var(--gradient-blur);
    }

    .card-alert {
        background: var(--sand);
        border: 2px solid var(--sand-dark);
        border-radius: 10px;
        padding: 20px;

        .titulo_card-alert {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 20px;
            font-weight: 600;
            color: var(--sand-dark-two);
            margin-bottom: 8px;
        }

        .subtitulo_card-alert {
            font-weight: 550;
            color: var(--gray-600);
            line-height: 1.6;
        }
    }

    .calculo-fora {
        display: flex;
        gap: 10px;
        width: 100%;

        .card_calculo-fora {
            flex: 1;
            border: 2px solid var(--royal-blue-light);
            border-radius: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-shadow: var(--shadow-xl);

            h1 {
                font-size: 20px;
                font-weight: 700;
                margin-top: 10px;

                &.antes {
                    color: #dc3545;
                }

                &.depois {
                    color: #28a745;
                }
            }

            p {
                font-size: 18px;
                color: var(--gray-500);
                text-align: center;
            }


        }
    }

    .aliquotas {
        display: flex;
        gap: 10px;
        width: 100%;
        
        .card-aliquotas {
            flex: 1;
            border: 2px solid var(--royal-blue-light);
            border-radius: 10px;
            padding: 20px 10px;
            text-align: center;
            box-shadow: var(--shadow-xl);

            h3 {
                font-size: 32px;
                font-weight: bolder;
                color: var(--royal-blue-light);
            }

            ul {
                text-align: start;
                margin-top: 20px;
            }

        }
    }

    .memoria-calculo {
        background: var(--gradient-blur);
        border: 2px solid var(--royal-blue-light);
        border-radius: 10px;
        padding: 30px 40px;
        box-shadow: var(--shadow-xl);

        .titulo_memoria-calculo {
            display: flex;
            gap: 10px;
            font-size: 24px;
            font-weight: 600;
            align-items: center;
            color: var(--royal-blue-light);
            margin-bottom: 30px;
        }

        .operacao-completa {
            display: grid;
            gap: 10px;
            gap: 40px;

            .col {
                display: flex;

                @media (max-width: 768px) {
                    flex-direction: column;
                }

                .operacao {
                    flex: 1;
                    h1 {
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 18px;
                        font-weight: 500;
                        color: var(--gray-600);

                        b {
                            color: var(--gray-800);
                        }
                    }

                    .total {
                        margin-top: 15px;
                        color: var(--royal-blue-light);
                        font-weight: 900;
                        font-size: 28px;
                    }
                }
            }
        }

    }





}