.introducao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .titulo-intro {
        color: var(--royal-blue);
        font-weight: 700;
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 36px;
    }
    
    .subtitulo-intro {
        font-size: 20px;
        color: var(--gray-600);
    }

    .card-info {
        border: 2px solid var(--royal-blue-light);
        border-radius: 10px;
        padding: 20px 40px;
        background: var(--gradient-blur);

        .titulo_card-info {
            display: flex;
            gap: 10px;
            font-size: 24px;
            font-weight: 600;
            align-items: center;
            color: var(--royal-blue-light);
        }

        span {
            font-weight: 700;
            line-height: 2;
        }
    }

    h2 {
        font-size: 26px;
        color: var(--royal-blue);
        font-weight: 700;
        margin: 10px 0;
    }

    p {
        color: var(--text-dark);
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        color: #2c3e50;
    }

    .modelo-dual {
        display: flex;
        gap: 10px;
        width: 100%;

        .card_modelo-dual {
            flex: 1;
            border: 2px solid var(--royal-blue-light);
            border-radius: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: var(--gradient-blur);

            h1 {
                font-size: 26px;
                color: var(--royal-blue-light);
                font-weight: 700;
                margin-top: 10px
            }

            h2 {
                color: var(--gray-900);
                font-weight: 600;
                font-size: 18px;
                text-align: center;
            }

            p {
                font-size: 18px;    
                color: var(--gray-500);
                text-align: center;
            }
        }
    }

    .card-alert {
        background: var(--sand);
        border: 2px solid var(--sand-dark);
        border-radius: 10px;
        padding: 20px;

        .titulo_card-alert {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 20px;
            font-weight: 600;
            color: var(--sand-dark-two);
            margin-bottom: 8px;
        }

        .subtitulo_card-alert {
            font-weight: 550;
            color: var(--gray-600);
            line-height: 1.6;
        }
    }

    .novos-tributos {
        display: flex;
        gap: 15px;

        .card_novos-tributos {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-top: 4px solid var(--royal-blue-light);
            border-radius: 10px;
            background: var(--gradient-blur);
            padding: 25px 0;

            .title-card_novos-tributos {
                font-size: 40px;
                font-weight: 700;
                color: var(--royal-blue);
            }
            span {
                margin: 10px 0;
                color: #2c3e50;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }

}