<div class="modal-header">
  <div class="cabecalho-detalhes">
    <h3 class="titulo-detalhe">{{ dados?.titulo }}</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>
</div>

<div class="modal-body">

  <div class="conteudo-detalhes">

    <div class="descricao-expandida">
      {{ dados?.descricaoExpandida }}
    </div>

    <div class="lista-beneficios">
      <h4>Principais Benefícios:</h4>
      <ul>
        <li *ngFor="let beneficio of dados?.beneficios">
          <i class="fas fa-check-circle"></i>
          {{ beneficio }}
        </li>
      </ul>
    </div>

  </div>

  <h5>Benefícios</h5>
  <ul>
    <li *ngFor="let beneficio of dados?.beneficios">{{ beneficio }}</li>
  </ul>

  <h5>Etapas do Processo</h5>
  <ol>
    <li *ngFor="let etapa of dados?.etapasProcesso">{{ etapa }}</li>
  </ol>
</div>